@{
    ViewBag.Title = "Password";
}

<h2>Password</h2>
<script type="text/javascript">
    function resetPassword() {
        var name = $('#userName').val();
        $.post(
            '/Identity/ResetPassword',
            {
                userName: name
            },
            function success(data) {
                alert(data.msg);
            },
            "json"
            )
    }
</script>

@Html.TextBox("userName", "请输入用户名", new { @class = "form-control" })
<input type="button" value="Reset Password" onclick="resetPassword()" class="btn btn-default" />

